/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font families */
@font-face {
  font-family: 'Sora';
  src: url('/fonts/Sora-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5 {
	@apply font-sora font-extrabold;
}

h2 {
	@apply text-8xl;
}

h3 {
	@apply text-6xl;
}

h4 {
	@apply text-4xl;
}

h5 {
	@apply text-3xl;
}

body {
	@apply font-open-sans;
}