---
import { storyblokEditable } from "@storyblok/astro";

const { blok } = Astro.props;
console.log(blok);
---

<div {...storyblokEditable(blok)}>
  <button class="rounded-full">
    {blok.button_label}
  </button>
  <!-- TODO: add rest of field-types -->
</div>
