---
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/episodes">Episodes</HeaderLink>
		<HeaderLink href="https://twitter.com/astrodotbuild" target="_blank">Twitter</HeaderLink>
		<HeaderLink href="https://github.com/withastro/astro" target="_blank">GitHub</HeaderLink>
	</nav>
</header>
