---
import HeaderLink from "./HeaderLink.astro";
---

<header>
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
		<HeaderLink
			href="https://github.com/GirlCode-Coffee/website"
			target="_blank">GitHub</HeaderLink
		>
	</nav>
</header>
